/* body {
    text-align: center;
  } */
  
  form {
    display: block;
    /* text-align: center; */
    /* position: relative; */
    padding: 5%;
    /* margin: 5%; */
    /* margin-top:0%; */
    margin-bottom: 5%;
    /* top: auto; */
  }


  /* .fform{ */
    /* text-align: center; */
    /* justify-content: center; */
    /* display: block; */
    
    
    
  
  
  #Appointment-Calendar {
    margin: auto;
    display: block;
    /* justify-content: center; */
    /* padding-left:480px; */
   
  }
  
  input {
    margin: 5px auto;
    display: block;
    width: 50%;
    border-radius: 5px;
    transition: all 1s ease;
    overflow: hidden;
    text-align: center;
    min-width: 200px;
    padding: 10px 0px 10px 0px;
    border: 3px solid  #111111;
  }
  
  textarea {
    border: 3px solid #353434;
    max-width: 50%;
    min-width: 50%;
    border-radius: 5px;
    height: 100px;
    text-align: center;
  }
  
  #submit-button {
    background-color: #F28123;
    color: #ffffff;
    width: 30%;
  }
  
  #submit-button:hover {
    background-color:  #F28123;
    border: 3px solid  #F28123;
    color: #181717;
    width: 50%;
  }
  
  #Appointment-Calendar {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
 

 